genologics # requires python < 3.9  - AttributeError: 'xml.etree.ElementTree.Element' object has no attribute 'getchildren'
click
PyYAML
pydantic==1.*
fastapi
pandas
gunicorn
uvicorn
matplotlib
pymongo
coloredlogs
