---
name: Manual Backup Verification
about: Template for documentation of manually performed backup verifications
title: ''
labels: 'Backup Verification'
assignees:

---

Backup Verification
---------------


**Date:** _date when the verification was performed_

**Server:** _stage/prod_

**Backup file:** _name of sql dump file that was tested_

**Responsible:** _who performed the verification_

### Result of verification

_Document your results/outputs from the process_

### Conclusions

_Summarize the outcome of the verification and if any further actions are needed_